.video-js[tabindex="-1"] {
    width: 100%;
    height: 600px;
}


.video-js {
    width: 100%;
    height: 600px;
}

.video-js-nothing {
    width: 100%;
    height: 600px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
}